<!DOCTYPE html>
<html lang="en">
  <%- include('header', {title: 'Anime Scene Search Engine'}); %>

  <meta itemprop="name" content="WAIT: What Anime Is This?" />
  <meta
    itemprop="description"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />
  <meta itemprop="image" content="https://trace.moe/favicon128.png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@soruly" />
  <meta name="twitter:title" content="WAIT: What Anime Is This?" />
  <meta
    name="twitter:description"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />
  <meta name="twitter:creator" content="@soruly" />
  <meta name="twitter:image" content="<%= ogImage %>" />
  <meta
    name="twitter:image:alt"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />

  <meta property="og:title" content="WAIT: What Anime Is This?" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://trace.moe" />
  <meta property="og:image" content="<%= ogImage %>" />
  <meta
    property="og:description"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />
  <meta property="og:site_name" content="trace.moe" />

  <link href="/css/index.css?<%=rev%>" rel="stylesheet" />

  <link rel="dns-prefetch" href="https://api.trace.moe/" />
  <link rel="dns-prefetch" href="https://image.trace.moe/" />

  <% if (originalImage) { %>
  <input id="autoSearch" type="checkbox" style="display: none" checked />
  <img
    id="originalImage"
    src=""
    data-url="<%= originalImage %>"
    crossorigin="anonymous"
    style="display: none"
  />
  <% } else { %>
  <input id="autoSearch" type="checkbox" style="display: none" />
  <img id="originalImage" src="" data-url="" crossorigin="anonymous" style="display: none" />
  <% } %>
  <div id="main">
    <div class="noselect">
      <div id="loading" class="hidden">
        <div id="loader" class="ripple"></div>
      </div>
      <canvas id="preview" width="640" height="360"></canvas>
      <video id="player" style="display: none" volume="0" muted autoplay loop playsinline></video>
    </div>
    <div style="height: 15px">
      <span id="progressBarControl" class="glyphicon glyphicon-triangle-top"></span>
      <span id="fileNameDisplay"></span>
      <span id="timeCodeDisplay"></span>
      <span id="soundBtn" class="glyphicon glyphicon glyphicon-volume-off"></span>
    </div>
    <div id="form">
      <span class="btn btn-default btn-file btn-sm">
        Browse a file <input type="file" id="file" name="files[]" />
      </span>
      <span id="instruction"> / Drag &amp; Drop Anime ScreenShot / Ctrl+V / Enter Image URL</span>
      <br />
      <form method="post">
        <input
          type="url"
          pattern="https?://.+"
          name="imageURL"
          class="form-control"
          id="imageURL"
          placeholder="Image URL"
          value="<%= imageURL %>"
          style="margin: 5px 0 5px 0"
        />
        <input type="submit" id="submit" style="display: none" />
      </form>
      <div style="text-align: right">
        <span id="messageText" style="float: left; line-height: 30px">
          <% if (originalImage) { %>
          <span class="glyphicon glyphicon-repeat spinning"></span>
          <% } %>
        </span>
        <label for="anilistFilter" style="font-weight: inherit">Anime Filter</label>
        <input
          type="text"
          id="anilistFilter"
          class="form-control input-sm"
          style="display: inline-block; width: 100px"
          placeholder="anilist ID"
        />
        <button id="cutBordersBtn" type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-check">☑️</span> Cut Borders
        </button>

        <button id="searchBtn" type="button" class="btn btn-default btn-sm btn-primary" disabled>
          <span class="glyphicon glyphicon-search">🔍</span> Search
        </button>
      </div>
    </div>
  </div>
  <div id="results-list">
    <ul id="results" class="nav nav-pills nav-stacked"></ul>
  </div>
  <div id="info"></div>

  <script src="/js/index.js?<%=rev%>"></script>
  <script src="/js/info.js?<%=rev%>"></script>

  <%- include('footer'); %>
</html>
