<!DOCTYPE html>
<html lang="en">
  <%- include('header', {title: 'Anime Scene Search Engine'}); %>
  <meta name="viewport" content="width=650, initial-scale=1" />
  <meta itemprop="name" content="WAIT: What Anime Is This?" />
  <meta
    itemprop="description"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />
  <meta itemprop="image" content="https://trace.moe/favicon128.png" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@soruly" />
  <meta name="twitter:title" content="WAIT: What Anime Is This?" />
  <meta
    name="twitter:description"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />
  <meta name="twitter:creator" content="@soruly" />
  <meta name="twitter:image" content="<%= ogImage %>" />
  <meta
    name="twitter:image:alt"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />

  <meta property="og:title" content="WAIT: What Anime Is This?" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://trace.moe" />
  <meta property="og:image" content="<%= ogImage %>" />
  <meta
    property="og:description"
    content="Anime Scene Search Engine. Lookup the exact moment and the episode."
  />
  <meta property="og:site_name" content="trace.moe" />

  <link href="/css/index.css?<%=rev%>" rel="stylesheet" />

  <link rel="dns-prefetch" href="https://api.trace.moe/" />
  <link rel="dns-prefetch" href="https://image.trace.moe/" />

  <div class="drop-target"></div>
  <div class="search-bar <%= imageURL ? 'ready' : '' %>">
    <div class="search-bar-content">
      <div class="logo"></div>
      <div class="form-controls">
        <form>
          <input
            type="url"
            pattern="https?://.+"
            name="imageURL"
            class="image-url"
            placeholder="Image URL"
            value="<%= imageURL %>"
          />
          <input type="submit" />
          <div class="file">
            <input type="file" name="files[]" accept="image/*" />
          </div>
        </form>

        <% if (originalImage) { %>
        <input id="autoSearch" type="checkbox" checked="" />
        <% } else { %>
        <input id="autoSearch" type="checkbox" />
        <% } %>

        <input type="text" class="anilist-filter" placeholder="anilist ID" />
        <button class="cut-borders-btn"><span class="icon icon-check"></span> Cut Borders</button>
        <button class="search-btn" disabled>
          <span class="icon icon-search"></span>
        </button>
      </div>
    </div>
  </div>

  <template id="template">
    <div class="result">
      <div class="title"></div>
      <div class="detail">
        <div class="ep"></div>
        <div class="time"></div>
        <div class="similarity"></div>
      </div>
      <div>
        <video src="" poster="" volume="0" muted="" autoplay="" loop="" playsinline=""></video>
      </div>
    </div>
  </template>

  <div class="wrap">
    <div class="result-list">
      <div class="search-image">
        <div class="detail">Your search image</div>
        <div class="query-image">
          <% if (originalImage) { %>
          <img id="originalImage" src="" data-url="<%= originalImage %>" crossorigin="anonymous" />
          <% } else { %>
          <img id="originalImage" src="" data-url="" crossorigin="anonymous" />
          <% } %>
        </div>
        <div class="message-text"></div>
      </div>
    </div>

    <div class="player-info-pane">
      <div class="player-pane">
        <video
          class="player"
          style="display: none"
          volume="0"
          muted=""
          autoplay=""
          loop=""
          playsinline=""
        ></video>
        <canvas class="preview" width="640" height="360"></canvas>
        <div class="drop-effect"></div>
        <div class="loading">
          <div class="loader" class="ripple"></div>
        </div>

        <div class="player-info">
          <div class="file-name-display">&nbsp;</div>
          <div class="time-code-display">&nbsp;</div>
        </div>
        <div class="player-control">
          <div class="progress-bar-control">▲</div>
          <div class="sound-btn" class="icon icon-volume-off"></div>
        </div>
      </div>

      <div class="info-pane">
        <div class="title"></div>
        <div class="subtitle"></div>
        <div class="divider"></div>

        <div class="detail">
          <table class="table">
            <tr>
              <td></td>
              <td class="natural-text"></td>
            </tr>
            <tr>
              <td>Alias</td>
              <td class="alias"></td>
            </tr>
            <tr>
              <td>Genre</td>
              <td class="genre"></td>
            </tr>
            <tr>
              <td>Studio</td>
              <td class="studio"></td>
            </tr>
            <tr>
              <td>External Links</td>
              <td class="external-links"></td>
            </tr>
          </table>
          <div class="poster">
            <a href=""><img src="" /></a>
          </div>
        </div>
        <div class="divider"></div>
        <div class="foot-notes">
          Information provided by <a href="https://anilist.co">anilist.co</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/index.js?<%=rev%>"></script>
  <script src="/js/info.js?<%=rev%>"></script>

  <%- include('footer'); %>
</html>
