<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>trace.moe Anime Scene Tracer</title>
  <link href="/css/style.css" rel="stylesheet" />

  <%= frameCount %> frames searched

  <div class="list">
    <input type="radio" id="tab-close" name="radio-group" />
    <% result.forEach((r, index) => { %>
    <div class="list-item">
      <input type="radio" id="tab-<%= index %>" name="radio-group" />
      <label for="tab-<%= index %>">
        <div class="result">
          <%= r.anilist.title.native %><br />
          <%= (r.similarity * 100).toFixed(2) %>%<br />
          <%= r.from %><br />
          <%= r.file %><br />
          <video
            src="<%= r.video %>"
            poster="<%= r.image %>"
            muted
            autoplay
            loop
            playsinline
          ></video>
        </div>
      </label>
      <div class="info">
        <label class="close-btn" for="tab-close">❌</label>
        <h1><%= r.anilist.title.native %></h1>
        <h2><%= r.anilist.title.romaji %></h2>
        <h2><%= r.anilist.title.english %></h2>
        <h2><%= r.anilist.title.chinese %></h2>
        <div style="clear: both; border-bottom: 1px solid #666; margin-bottom: 13px"></div>
        <% if (r.anilist.coverImage.large) { %>
        <div id="poster">
          <a href="https://anilist.co/anime/<%= r.anilist.id %>">
            <img src="<%= r.anilist.coverImage.large%>" />
          </a>
        </div>
        <% }%>
        <div id="naturalText"><%= r.anilist.naturalText %></div>
        <table>
          <tr>
            <td>Score</td>
            <td><%= r.anilist.averageScore > 0 ? r.anilist.averageScore.toFixed(1) : "-" %></td>
          </tr>
          <tr>
            <td>Popularity</td>
            <td><%= r.anilist.popularity > 0 ? r.anilist.popularity : "-" %></td>
          </tr>
          <tr>
            <td>Drop rate</td>
            <td>
              <%= r.anilist.popularity > 0 ? (r.anilist.stats.statusDistribution.filter(function (e)
              { return e.status === "DROPPED"; })[0].amount / r.anilist.popularity * 100).toFixed(1)
              + "%" : "-" %>
            </td>
          </tr>
          <% if (r.anilist.genres.length) { %>
          <tr>
            <td>Genre</td>
            <td><%= r.anilist.genres.join(", ") %></td>
          </tr>
          <% }%> <% if (r.anilist.studios?.edges?.length) { %>
          <tr>
            <td>Studio</td>
            <td>
              <% r.anilist.studios.edges.forEach((e, index) => { %> <% if (e.node.siteUrl) { %>
              <a href="<%= e.node.siteUrl %>"><%= e.node.name %></a>
              <% } else {%> <span><%= e.node.name %></span> <% }%> <% }); %>
            </td>
          </tr>
          <% }%> <% if (r.anilist.synonyms.length) { %>
          <tr>
            <td>Alias</td>
            <td>
              <% r.anilist.synonyms.forEach((e, index) => { %> <%= e %><br />
              <% }); %>
            </td>
          </tr>
          <% }%><% if (r.anilist.synonyms_chinese.length) { %>
          <tr>
            <td>Alias</td>
            <td>
              <% r.anilist.synonyms_chinese.forEach((e, index) => { %> <%= e %><br />
              <% }); %>
            </td>
          </tr>
          <% }%> <% if (r.anilist.externalLinks?.length) { %>
          <tr>
            <td>External Links</td>
            <td>
              <% r.anilist.externalLinks.forEach((e, index) => { %>
              <a href="<%= e.url %>"><%= e.site %> </a><br />
              <% }); %>
            </td>
          </tr>
          <% }%>
        </table>

        <% if (r.anilist.staff?.edges?.length) { %>
        <br style="clear: both" />
        <h3>Staff</h3>
        <div style="clear: both; border-bottom: 1px solid #666; margin-bottom: 3px"></div>
        <table id="staff">
          <% r.anilist.staff.edges.forEach((e, index) => { %>
          <tr>
            <td><%= e.role %></td>
            <td>
              <a class="staff_<%= e.node.id %>" href="https://anilist.co/staff/<%= e.node.id %>"
                ><%= e.node.name.native ?? e.node.name.last + " " + e.node.name.first %></a
              >
            </td>
          </tr>
          <% }); %>
        </table>
        <% }%> <% if (r.anilist.trailer?.site === "youtube") { %>
        <br style="clear: both" />
        <h3>Youtube PV</h3>
        <div style="clear: both; border-bottom: 1px solid #666; margin-bottom: 3px"></div>

        <iframe
          class="youtube"
          src="https://www.youtube-nocookie.com/embed/<%=r.anilist.trailer.id%>"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <% }%>
        <div style="clear: both; border-bottom: 1px solid #666; margin-bottom: 3px"></div>
        <div style="float: right; font-size: 12px">
          Information provided by <a href="https://anilist.co">anilist.co</a>
        </div>
        <div style="clear: both"></div>
      </div>
    </div>
    <% }); %>
  </div>
</html>
